.mobile-drawer {
    display: flex;
    position: absolute;
    z-index: 2;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: 8%;
    padding-bottom: 2%;
    background-color: var(--white);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    justify-content: center;
}

.mobile-drawer .list {
    display: flex;
    position: relative;
    width: 80%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.list .item {
    display: flex;
    position: relative;
    margin: 1%;
}